<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>cryptadamus.logloader</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>EnvironmentVariables</key>
        <dict>
            <key>PATH</key>
            <string>/Users/REPLACE_WITH_USERNAME/.rbenv/shims:/opt/homebrew/bin:/usr/bin:/bin:/Applications/Wireshark.app/Contents/MacOS</string>
        </dict>
        <key>ProgramArguments</key>
        <array>
            <string>REPLACE_THIS_WITH_PATH_TO_LAUNCH_SCRIPT</string>
        </array>
        <key>StandardOutPath</key>
        <string>REPLACE_THIS_WITH_PATH_TO_LOGS/daemon_stdout.log</string>
        <key>StandardErrorPath</key>
        <string>REPLACE_THIS_WITH_PATH_TO_LOGS/daemon_stderr.log</string>
    </dict>
</plist>
