<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>cryptadamus.logloader</string>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>ProgramArguments</key>
        <array>
            <string>sudo</string>
            <string>-u</string>
            <string>REPLACE_WITH_USERNAME</string>
            <string>-i</string>
            <string>REPLACE_THIS_WITH_PATH_TO_LAUNCH_SCRIPT</string>
        </array>
    </dict>
</plist>
